{{!-- This is the base layout for your project, and will be used on every page. --}}
<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <!-- favicon -->
  <link rel="icon" type="image/x-icon" href="/assets/img/favicon.png">
  <!-- Google font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{root}}assets/fonts/font-awesome5.css">
  <!-- Vendors-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" />
  <!-- build:css -->
  <link rel="stylesheet" href="{{root}}assets/css/main.css">
  <link rel="stylesheet" href="{{root}}assets/css/rtl.css">
  <!-- endbuild -->

</head>

<body>
  <!--PreLoader-->
  <div class="loader">
    <div class="loader-inner">
      <div class="circle"></div>
    </div>
  </div>
  <!--PreLoader Ends-->
  {{> navigation}}
  <main class="" role="main">
    {{> body}}
  </main>
  {{> footer}}
  <script src="{{root}}/assets/js/main.js"></script>

</body>

</html>
