.card_wrapper_activities {
  margin-bottom: 25px;
  .image_wrapper {
    height: 250px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 5px 5px 0 0;
    }
  }

  .card_infos {
    padding: 14px 14px 34px 14px;
    background-color: #F8F9F8;
    .card_header {
      p:first-child {
        color: rgba(223, 142, 30, 1) !important;
        flex-grow: 1;
      }
    }
  }
}
