---
layout: default
title: articleDetails
---
  <div class="container">
      <div class="row mb-5">
        <div class="col-lg-12 mb-2 text-center mb-lg-0 pb-3 p-0">
          <img src="./assets/img/Motakaed.png" class="img-fluid" alt="Responsive image" />
        </div>
        <div class="detailsContainer">
          <span class="detailsDate">بتاريخ 19-03-2020</span>
          <div class="detailTitles">
            <h2 class="detailsParagraphTitle">
              حيرة متقاعد
            </h2>
            <div class="detailsViews"><span>4239 :عدد المشاهدات</span><i class="fa fa-eye mx-2"></i></div>
          </div>
          <div class="detailsParagraph text_black">
            <p>
              ﺗﻌﻠﻴﻤﻪ ﻋﺎﻟﻲ وﺻﺤﺘﻪ ﺟﻴﺪة ، زُﺭﺗﻪ ﻓﻲ اﺳﺘﺮاﺣﺘﻪ ﻓﺎﺷﺘﻜﻰ اﻟﻔﺮﺎﻏ وﺗﻤﻨﻰ ﻟﻮ اﺳﺘﻤﺮ ﻓﻲ وﻇﻴﻔﺘﻪ اﻟﺤﻜﻮﻣﻴﺔ وﻟﻮ ﺑﺎﻟﻤﺠﺎن ،
              وﺫﻛﺮ أﻧﻪ ﺗﻮﺳﻂ وﺗﺮﺟﻰ اﻟﺘﻤﺪﻳﺪ وﻟﻜﻦ ﻟﻢ ﻳﺠﺪ اﺳﺘﺠﺎﺑﺔ وﻟﻘﻴﺖُه ﺣﺎﺋﺮاً ﻳﻀﺮب أﺧﻤﺎﺳﺎً ﺑﺄﺳﺪﺎﺳ ، ﺿﺎﻗﺖ ﺑﻪ اﻟﺪﻧﻴﺎ وﻟﺎ
              ﻳﺪﺮﻳ ﻣﺎذﺍ ﻳﻌﻤﻞ ، ﺣﺎﻟﺘﻪ اﻟﻤﺎدﻳﺔ ﻣﻴﺴﻮرﺔ ، ﻟﺪﻳﻪ ﺳﻜﻦٌ وﻣﺰرﻋﺔ وﺳﻴﺎرﺔ وﺃﺳﺮة وﺗﻘﺎﻋﺪٌ ﻳﻜﻔﻴﻪ اﻟﻌﻴﺶ ﺑﻘﻴﺔ ﻋﻤﺮه ، ﻳﻘﻀﻰ
              وﻗﺘﻪ ﻓﻲ اﻟﻤﺰرﻋﺔ ﻳﺘﻔﻘﺪ ﺷﺆوﻧﻬﺎ وﺷﺠﻮﻧﻬﺎ
            </p>
            <p>
              ﺗﻌﻠﻴﻤﻪ ﻋﺎﻟﻲ وﺻﺤﺘﻪ ﺟﻴﺪة ، زُﺭﺗﻪ ﻓﻲ اﺳﺘﺮاﺣﺘﻪ ﻓﺎﺷﺘﻜﻰ اﻟﻔﺮﺎﻏ وﺗﻤﻨﻰ ﻟﻮ اﺳﺘﻤﺮ ﻓﻲ وﻇﻴﻔﺘﻪ اﻟﺤﻜﻮﻣﻴﺔ وﻟﻮ ﺑﺎﻟﻤﺠﺎن ،
              وﺫﻛﺮ أﻧﻪ ﺗﻮﺳﻂ وﺗﺮﺟﻰ اﻟﺘﻤﺪﻳﺪ وﻟﻜﻦ ﻟﻢ ﻳﺠﺪ اﺳﺘﺠﺎﺑﺔ وﻟﻘﻴﺖُه ﺣﺎﺋﺮاً ﻳﻀﺮب أﺧﻤﺎﺳﺎً ﺑﺄﺳﺪﺎﺳ ، ﺿﺎﻗﺖ ﺑﻪ اﻟﺪﻧﻴﺎ وﻟﺎ
              ﻳﺪﺮﻳ ﻣﺎذﺍ ﻳﻌﻤﻞ ، ﺣﺎﻟﺘﻪ اﻟﻤﺎدﻳﺔ ﻣﻴﺴﻮرﺔ ، ﻟﺪﻳﻪ ﺳﻜﻦٌ وﻣﺰرﻋﺔ وﺳﻴﺎرﺔ وﺃﺳﺮة وﺗﻘﺎﻋﺪٌ ﻳﻜﻔﻴﻪ اﻟﻌﻴﺶ ﺑﻘﻴﺔ ﻋﻤﺮه ، ﻳﻘﻀﻰ
              وﻗﺘﻪ ﻓﻲ اﻟﻤﺰرﻋﺔ ﻳﺘﻔﻘﺪ ﺷﺆوﻧﻬﺎ وﺷﺠﻮﻧﻬﺎ
            </p>
            <p>
              ﺗﻌﻠﻴﻤﻪ ﻋﺎﻟﻲ وﺻﺤﺘﻪ ﺟﻴﺪة ، زُﺭﺗﻪ ﻓﻲ اﺳﺘﺮاﺣﺘﻪ ﻓﺎﺷﺘﻜﻰ اﻟﻔﺮﺎﻏ وﺗﻤﻨﻰ ﻟﻮ اﺳﺘﻤﺮ ﻓﻲ وﻇﻴﻔﺘﻪ اﻟﺤﻜﻮﻣﻴﺔ وﻟﻮ ﺑﺎﻟﻤﺠﺎن ،
              وﺫﻛﺮ أﻧﻪ ﺗﻮﺳﻂ وﺗﺮﺟﻰ اﻟﺘﻤﺪﻳﺪ وﻟﻜﻦ ﻟﻢ ﻳﺠﺪ اﺳﺘﺠﺎﺑﺔ وﻟﻘﻴﺖُه ﺣﺎﺋﺮاً ﻳﻀﺮب أﺧﻤﺎﺳﺎً ﺑﺄﺳﺪﺎﺳ ، ﺿﺎﻗﺖ ﺑﻪ اﻟﺪﻧﻴﺎ وﻟﺎ
              ﻳﺪﺮﻳ ﻣﺎذﺍ ﻳﻌﻤﻞ ، ﺣﺎﻟﺘﻪ اﻟﻤﺎدﻳﺔ ﻣﻴﺴﻮرﺔ ، ﻟﺪﻳﻪ ﺳﻜﻦٌ وﻣﺰرﻋﺔ وﺳﻴﺎرﺔ وﺃﺳﺮة وﺗﻘﺎﻋﺪٌ ﻳﻜﻔﻴﻪ اﻟﻌﻴﺶ ﺑﻘﻴﺔ ﻋﻤﺮه ، ﻳﻘﻀﻰ
              وﻗﺘﻪ ﻓﻲ اﻟﻤﺰرﻋﺔ ﻳﺘﻔﻘﺪ ﺷﺆوﻧﻬﺎ وﺷﺠﻮﻧﻬﺎ
            </p>
            <p>
              ﺗﻌﻠﻴﻤﻪ ﻋﺎﻟﻲ وﺻﺤﺘﻪ ﺟﻴﺪة ، زُﺭﺗﻪ ﻓﻲ اﺳﺘﺮاﺣﺘﻪ ﻓﺎﺷﺘﻜﻰ اﻟﻔﺮﺎﻏ وﺗﻤﻨﻰ ﻟﻮ اﺳﺘﻤﺮ ﻓﻲ وﻇﻴﻔﺘﻪ اﻟﺤﻜﻮﻣﻴﺔ وﻟﻮ ﺑﺎﻟﻤﺠﺎن ،
              وﺫﻛﺮ أﻧﻪ ﺗﻮﺳﻂ وﺗﺮﺟﻰ اﻟﺘﻤﺪﻳﺪ وﻟﻜﻦ ﻟﻢ ﻳﺠﺪ اﺳﺘﺠﺎﺑﺔ وﻟﻘﻴﺖُه ﺣﺎﺋﺮاً ﻳﻀﺮب أﺧﻤﺎﺳﺎً ﺑﺄﺳﺪﺎﺳ ، ﺿﺎﻗﺖ ﺑﻪ اﻟﺪﻧﻴﺎ وﻟﺎ
              ﻳﺪﺮﻳ ﻣﺎذﺍ ﻳﻌﻤﻞ ، ﺣﺎﻟﺘﻪ اﻟﻤﺎدﻳﺔ ﻣﻴﺴﻮرﺔ ، ﻟﺪﻳﻪ ﺳﻜﻦٌ وﻣﺰرﻋﺔ وﺳﻴﺎرﺔ وﺃﺳﺮة وﺗﻘﺎﻋﺪٌ ﻳﻜﻔﻴﻪ اﻟﻌﻴﺶ ﺑﻘﻴﺔ ﻋﻤﺮه ، ﻳﻘﻀﻰ
              وﻗﺘﻪ ﻓﻲ اﻟﻤﺰرﻋﺔ ﻳﺘﻔﻘﺪ ﺷﺆوﻧﻬﺎ وﺷﺠﻮﻧﻬﺎ
            </p>
          </div>
        </div>
      </div>
  </div>