<a href="#">
    <div class="card border-0 pb-4">
        <div class="">
            <img class="card-img-top" src={{articleImg}} alt="Card image cap" />
        </div>
        <div class="card-body" style="background: #F8F9F8;">
            <h5 class="card-title green text-right">{{title}}</h5>
            <span class="articlesDate text-right">{{date}}</span>
            <p class="card-txt green text_clamb">
                {{description}}
            </p>
            <div class="the_articlebutton green text-left" style="float: left; margin-left: 0.5rem; margin-top: 1rem;">
                <a class="article article_button" href="articleDetails.html">التفاصيل</a>
            </div>
        </div>
    </div>
</a>