<div class="container">
  <div class="swiper myArticleSwiper" style="border-radius: 5px; padding-bottom: 62px;">
    <div class="swiper-wrapper" style="display: flex; flex-direction: row;">
      <div class="swiper-slide">
        <div class="col-lg-6 col-12">
          <div class="text">
            <span class="articleSliderTitle">دروس من مراكش</span>
            <span class="articleSliderDate">اليوم 19-03-2021</span>
            <p class="articleSliderText">
              و فكرية من عدة دول اسلامية و يشارك فيه شيوخ و شباب رجال و نساء
              الاسلامي كل اربع سنوات مؤتمرا عالميا يحضره شخصيات علمية تنظم
              الندوة العالمية للشباب
            </p>
            <div class="d-flex justify-content-between">
              <a class="article slider_article_button" href="articleDetails.html">التفاصيل</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-12">
          <div class="slider-image">
            <img src="./assets/img/image 9.png">
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="col-lg-6 col-12">
          <div class="text">
            <span class="articleSliderTitle">دروس من مراكش</span>
            <span class="articleSliderDate">اليوم 19-03-2021</span>
            <p class="articleSliderText">
              و فكرية من عدة دول اسلامية و يشارك فيه شيوخ و شباب رجال و نساء
              الاسلامي كل اربع سنوات مؤتمرا عالميا يحضره شخصيات علمية تنظم
              الندوة العالمية للشباب
            </p>
            <div class="d-flex justify-content-between">
              <a class="article slider_article_button" href="articleDetails.html">التفاصيل</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-12">
          <div class="slider-image">
            <img src="./assets/img/Motakaed.png">
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="col-lg-6 col-12">
          <div class="text">
            <span class="articleSliderTitle">دروس من مراكش</span>
            <span class="articleSliderDate">اليوم 19-03-2021</span>
            <p class="articleSliderText">
              و فكرية من عدة دول اسلامية و يشارك فيه شيوخ و شباب رجال و نساء
              الاسلامي كل اربع سنوات مؤتمرا عالميا يحضره شخصيات علمية تنظم
              الندوة العالمية للشباب
            </p>
            <div class="d-flex justify-content-between">
              <a class="article slider_article_button" href="articleDetails.html">التفاصيل</a>
             </div>
          </div>
        </div>
        <div class="col-lg-6 col-12">
          <div class="slider-image">
            <img src="./assets/img/image14.png">
          </div>
        </div>
      </div>
    </div>
    <div class="sliderArrows">
      <div class="next mx-2">
        <i class="fas fa-long-arrow-alt-right mx-2"></i>
      </div>
      <div class="prev">
        <i class="fas fa-long-arrow-alt-left"></i>
      </div>
    </div>
</div>
