<div class="image_wrapper">
  <div class="main_image_wrapper">
    <img data-fancybox="gallery1"
         src="
               https://media.istockphoto.com/photos/panorama-of-cairo-picture-id1180786967?k=20&m=1180786967&s=612x612&w=0&h=-beRT5TLGlfeLmJP9m7Nv_8CKcM5kcrV-coR3fbvE_0="
    />
    <div class="image_text">test</div>
  </div>
  <div class="parent" >
    <img data-fancybox="gallery1"
         src="
                  https://media.istockphoto.com/photos/panorama-of-cairo-picture-id1180786967?k=20&m=1180786967&s=612x612&w=0&h=-beRT5TLGlfeLmJP9m7Nv_8CKcM5kcrV-coR3fbvE_0="
    />
    <img data-fancybox="gallery1"
         src="
         https://media.istockphoto.com/photos/panorama-of-cairo-picture-id1180786967?k=20&m=1180786967&s=612x612&w=0&h=-beRT5TLGlfeLmJP9m7Nv_8CKcM5kcrV-coR3fbvE_0="
    />
  </div>
</div>
